@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.5s ease-in-out;
    
}
header{
background-color: #1d0101;
width: 100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px;
}
.dark{
    color: rgb(0, 0, 0);
font-size: 30px;  
position: relative;
right: 200px;
transition: 0.1s;
}
.dark:active{
    rotate: 90deg;
}
.logo{
text-decoration:none;
   color:#d30000;
text-transform: uppercase;
font-weight: 900;
font-size: 1.8em;
text-shadow: 2px 2px 20px #920808;
animation-name:mazen ;
animation-duration: 10s;
animation-iteration-count: infinite;
position: relative;
right: 200px;
padding-left: 10px;
}
.navigation a {
    color:#d30000;
    text-decoration: none;
    font-size: 1.1em;
    padding-left: 30px;
    text-shadow: 2px 2px 60px red;
    font-weight: bold;
    
}
.navigation a:hover{
    color:rgb(255, 0, 43);
}
section{
    padding:100px 200px;
}
.main{
    width: 100%;
    min-height: 90vh;
display: flex;
align-items: center;
background: url(photos/clideo_editor_af40c0f265c0485ea7bd611a97349fc0.gif)no-repeat;
background-size: cover;
background-position: center;
background-attachment: flex;
}
.main h2{
    color: rgb(0, 0, 0);
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    display:inline-block;
    margin-top: 10px;
    color:#4e9eff;
    font-size: 3em;
font-weight: 600;
text-shadow: 2px 2px 60px;
}


.main h3{
    color: white;
font-size: 2em;
font-weight: 700;
letter-spacing: 1px;
margin-top: 10px;
margin-bottom: 30px;
text-shadow: 2px 0px 60px;
border-left: solid 5px ;
padding-left: 20px;

}
.scoial-icons a{
color: white;
font-size: 1.6em;
padding-right: 30px;
text-shadow: 2px 2px 60px;
}

.pagea {
color: #4e9eff;
font-size: 2em;
font-weight: 700;
letter-spacing: 1px;
margin-top: 10px;
margin-bottom: 30px;
text-shadow: 2px 0px 60px;
border-left: solid 5px ;
padding-left: 20px;
position: relative;
left: 20px;
}
.new {
    color: #4e9eff;
font-size: 60px;
position: relative;
left: 30px;

}

   body {
    background-color:rgb(0, 0, 0);
   }
   .icon1 {
    color: #e8e8e8fe;
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 600px;
 border-radius: 15px;
   box-shadow: 0px 10px 200px #4e9eff59;
   position: relative;
 top: 200px;
right: 10px;
}
.text{
    position: relative;
    bottom: 50px;
    color: black;

}
.hn{
    color: black;
}
.html{
width: 600px;
height: 20px;
background-color:#204471;
border-radius: 10px;
position: relative;
left: 20px;
top: 50px;
box-shadow: 100px 0px 200px #4289e1;
transition: 0.5s;
cursor: pointer;
}
.html:hover{
position: relative;
left: 80px;
background-color: red;
cursor: pointer;
}
.html::before{
    content: "";
    width: 500px;
height: 20px;
background-color:#4289e1;
border-radius: 10px;
position: absolute;

}
.css{
width: 600px;
height: 20px;
background-color:#204471;
border-radius: 10px;
position: relative;
left: 20px;
top: 200px;
box-shadow: 100px 0px 200px #4289e1;
transition: 0.5s;
cursor: pointer;
}
.css:hover{
position: relative;
left: 50px;
background-color: red;
cursor: pointer;
    }
.css::before{
    content: "";
    width: 550px;
height: 20px;
background-color:#4289e1;
border-radius: 10px;
position: absolute;
}
   
   @media screen and (max-width:600px) {
    header{
        background-color: rgb(0, 0, 0);
        width: 100%;
        position: fixed;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 100px;
        }
        .dark{
            color: rgb(0, 0, 0);
        font-size: 20px;  
        position: relative;
        right: 100px;
        transition: 0.1s;
        }
        .dark:active{
            rotate: 90deg;
        }
        .logo{
            text-decoration:none;
            color:#d30000;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1em;
            text-shadow: 2px 2px 20px #d30000;
            animation-name:mazen ;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            position: relative;
            right: 60px;
            }
       
            .navigation a {
                color:#d30000;
                text-decoration: none;
                font-size: 1em;
                font-weight: 600;
                padding-left: 15px;
                text-shadow: 2px 2px 60px;
            }
            .main{
                width: 110%;
                min-height: 90vh;
            display: flex;
            align-items: center;
            background: url(photos/clideo_editor_af40c0f265c0485ea7bd611a97349fc0.gif);
            background-size: cover;
            background-position: center;
            background-attachment: flex;
           
            }
            .main h2{
                color: white;
                font-size:1.5em;
                font-weight: bold;
                position: relative;
                right: 150px;
              
            }
            .main h2 span{
                display:inline-block;
                margin-top: 10px;
                color:#4e9eff;
                font-size:1.5em;
            font-weight: bold;
            text-shadow: 2px 2px 70px;
            clear: both;
            display: inline-block;
            white-space: nowrap;
         
            
         
            }
            .main h3{
                color: white;
            font-size: 1em;
            font-weight: 700;
            letter-spacing: 0.5px;
            margin-top: 5px;
            margin-bottom: 15px;
            text-shadow: 2px 0px 60px;
            border-left: solid 2.5px ;
            padding-left: 15px;
            position: relative;
            right: 150px;
            
            }
            .scoial-icons a{
                color: white;
                font-size: 1em;
                padding-right: 15px;
                text-shadow: 2px 2px 60px;
                position: relative;
                right: 150px;
                }
                .page {
                    color: rgb(82, 67, 97);
                 font-size: 0.6em;
                 padding-left: 300px;
                 padding-top: 250px;
                }
                .pagea {
                    color: #4e9eff;
                    font-size: 1em;
                    font-weight: 700;
                    letter-spacing: 1px;
                    margin-top: 10px;
                    margin-bottom: 30px;
                    text-shadow: 0px 0px 100px;
                    border-left: solid 5px ;
                    padding-left: 20px;
                    position: relative;
                    left: 20px;
                    }
                    .new {
                        color: #4e9eff;
                    font-size: 40px;
                    position: relative;
                    left: 30px;
                    
                    }
                   
                       body {
                        background-color:rgb(0, 0, 0);
                     
                       }
                       .icon1 {
                        color: #e8e8e8fe;
                        background-color: white;
                        width: 90%;
                        height: 600px;
                     border-radius: 15px;
                       box-shadow: 0px 10px 500px #4e9eff59;
                       position: relative;
                     top: 200px;
                    right: 10px;
                    }
                    .text{
                        font-size: 20px;
                        position: relative;
                        bottom: 50px;
                      
                    }
                    
                    .html{
                    width: 300px;
                    height: 10px;
                    background-color:#204471;
                    border-radius: 10px;
                    position: relative;
                    left: 20px;
                    top: 50px;
                    box-shadow: 100px 0px 200px #4289e1;
                    }
                    .html:hover{
                        position: relative;
                        left: 50px;
                        background-color: red;
                        cursor: pointer;
                        }
                    .html::before{
                        content: "";
                        width: 250px;
                    height: 10px;
                    background-color:#4289e1;
                    border-radius: 10px;
                    position: absolute;
                    
                    }
                    .css{
                        width: 300px;
                    height: 10px;
                    background-color:#204471;
                    border-radius: 10px;
                    position: relative;
                    left: 20px;
                    top: 200px;
                    box-shadow: 100px 0px 200px #4289e1;
                    
                    }
                    .css:hover{
                        position: relative;
                        left: 80px;
                        background-color: red;
                        cursor: pointer;
                    }
                    .css::before{
                        content: "";
                        width: 275px;
                    height: 10px;
                    background-color:#4289e1;
                    border-radius: 10px;
                    position: absolute;
                    }
   .hn{
    font-size: 20px;
    color: black;
   }
                }