*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.5;    
    text-transform: uppercase;
}
body{
    overflow-x: hidden;
}
.logo{
    font-family: sans-serif;
    color: black;
    font-weight: 200;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 2px;
}
.about{
    font-family: sans-serif;
    color: black;
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 2px;
  padding-left: 50px;
}
a:hover{
filter: brightness(0.6);
transition: 0.5s ease-in-out;
}
.buy{
    font-family: sans-serif;
    color: black;
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    padding-left: 500px;
}

header{
    background-color: rgb(255, 197, 90);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    }
    .one{
        width: 100%;
        min-height: 95vh;
    display: flex;
    align-items: center;
    background: url(photo.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: flex;
    }
b{
    color: rgb(2, 151, 44);
}
    button{
        background-color:rgb(255, 197, 90); 
        width: 400px;
        height: 90px;
        border-radius: 15px;
     margin-top: 500px;
font-weight: 500;
position: relative;
right: 500px;
color:black;
font-size: 20px;
transition: 0.5s ease-in-out;
border: none;
    }
    .txt1{
        color: white;
        font-size: 1.1em;
        font-weight: 600;
    }
    h2 span{
        display:inline-block;
        margin-top: 10px;
        color:#ffae00;
        font-size: 3em;
    font-weight: 600;
    text-shadow: 2px 2px 60px;
    }
    .sa{
        margin: 50px;
    }
    .two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    justify-items: center;
padding-left: 100px;
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    }
    p{
        margin-left: 40px; 
        font-family: sans-serif;
        letter-spacing: 2px;
        font-weight: bold;
    }
    .two h2 ,h3 ,h4 ,h5{
        margin-top: 5px;
        font-size: 15px;
        font-weight: 100;
    }
    .post1{
        width: 400px;
    }
    .sa2{
        margin-bottom: 500px;
        margin-top: 100px;
        background-image: url(photos/se2.jpg);
        width: 100%;
        height: 60vh;
        background-size: cover;
        background-position: center;
        background-attachment: flex;
    }
    .end{
        width: 100%;
height: 50vh;
    background-color: black;
}
.end a{
    text-decoration: white;
    color: white;
   margin-left: 200px;
   margin-top: 50px;
   position: relative;
   top: 100px;
   display: flex;
}