*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.5 ease-in-out;    
    text-transform: uppercase;
  
}
::-webkit-scrollbar {
    display: none;
}
header nav a img{
    width: 40px;
     height: auto;
     margin-left: 10px;
}

body{
    overflow-x: hidden;
}
.logo{
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 2px;
}
.about{
    font-family: sans-serif;
    color: black;
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 2px;
  padding-left: 50px;
}
a:hover{
filter: brightness(0.9);
transition: 0.5s ease-in-out;
}
.buy{
    font-family: sans-serif;
    color: black;
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    padding-left: 500px;
}
.video {
  width: 100%;
height: 100vh;
 background-color: rgb(20, 20, 20);
 filter: brightness(0.5);

}

header{
    background-color: rgb(71, 0, 0);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 220px;
    }
    .one{
        width: 100%;
        min-height: 95vh;
    display: flex;
    align-items: center;
  background-color: rgb(20, 20, 20);
    background-size: cover;
    background-position: center;
    background-attachment: flex;
    }
b{
    color: rgb(2, 151, 44);
}
    .btn1{
        background-color:rgb(73, 9, 9); 
        width: 400px;
        height: 90px;
        border-radius: 15px;
     margin-top: 500px;
font-weight: 500;
position: relative;
right: 900px;
color:black;
font-size: 20px;
transition: 0.5s ease-in-out;
border: none;
    }

    h2 span{
        display:inline-block;
        margin-top: 10px;
        color:#ffae00;
        font-size: 3em;
    font-weight: 600;
    text-shadow: 2px 2px 60px;
    }

    .two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    justify-items: center;
padding-left: 100px;
    width: 100%;
    height: 60vh;
  
    background-color: rgb(20, 20, 20);
    }
    p{
        margin-left: 40px; 
        font-family: sans-serif;
        letter-spacing: 2px;
        font-weight: bold;
    }
    .two h2 ,h3 ,h4 ,h5{
        margin-top: 5px;
        font-size: 15px;
        font-weight: 100;
    }
    .post1{
        width: 400px;
    }
    .post1 img{
        margin-left: 40px;
        width: 100px; 
        height: auto;
    }
    .sa2{
      
        background-image: url(photos/se2.jpg);
         background-color: rgb(20, 20, 20);
        width: 100%;
        height: 60vh;
        background-size: cover;
        background-position: center;
        background-attachment: flex;
    }
    .end{
        width: 100%;
height: 50vh;
    background-color: black;
}
.end a{
  
    color: white;
   margin-left: 200px;
   margin-top: 50px;
   position: relative;
   top: 100px;
   display: flex;
}
.sa3{
     background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
padding-left: 20px;
    width: 94%;
    height: 120vh ;
    flex-wrap: wrap;
   
    position: relative;
    top: 50px;
  
}
.sa3 img{
    width: 250px; 
    height:270px;
    box-shadow: 2px 2px 10px rgb(255, 197, 90);
    border-radius: 10px;
    margin-left: 10px;
}
.sa3 img:hover{
filter: brightness(0.6);
transition: 0.5s ease-in-out;
}
.btn2{
    background-color:rgb(255, 197, 90); 
    width: 250px;
    height: 50px;
    border-radius: 15px;
 margin-top: 10px;
font-weight: 500;
color:black;
font-size: 15px;
transition: 0.5s ease-in-out;
border: none;
margin-left: 10px;
}
.d1{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
padding-left: 20px;
    width: 250px;
    height: 320px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.btn3{
    background-color: white;
   border:   solid 2px rgb(255, 197, 90); 
   width: 250px;
   height: 50px;
   border-radius: 15px;
margin-top: 10px;
font-weight: 500;
color:black;
font-size: 15px;
transition: 0.5s ease-in-out;
margin-left:10px ;
}
.d1 a:hover{
    transform: scale(1.1);
}
.d1 img:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 767px){
    *{
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        transition: 0.5 ease-in-out;    
        text-transform: uppercase;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    header nav a img{
        width: 20px;
        position: relative;
        right: 200px;
      
         height: auto;
       
    }
  
    body{
        overflow-x: hidden;
    }
    .logo{
        font-family: sans-serif;
        color: black;
        font-weight: 200;
        font-size: 20px;
        text-decoration: none;
        letter-spacing: 1px;
        position: relative;
        left: 100px;
      top: 20px;
    }
    
    a:hover{
    filter: brightness(0.8);
    transition: 0.5s ease-in-out;
    }

    
    header{
        background-color: rgb(255, 197, 90);
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-evenly;

        }


      
    b{
        color: rgb(2, 151, 44);
    }
        .btn1{
            background-color:rgb(255, 197, 90); 
            width: 200px;
            height: 45px;
            border-radius: 7.5px;
         margin-top: 250px;
    font-weight: 500;
    position: relative;
    right: 300px;
    color:black;
    font-size: 10px;
    transition: 0.5s ease-in-out;
    border: none;
        }
        .txt1{
            color: white;
            font-size: 1em;
            font-weight: 600;
        }
        h2 span{
            display:inline-block;
            margin-top: 10px;
            color:hsl(41, 100%, 50%);
            font-size: 1em;
        font-weight: 600;
        text-shadow: 2px 2px 60px;
        }
        .sa{
            margin: 25px;
        }
        .two{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        justify-items: center;
    padding-left: 40px;
        width: 100%;
        height: 100vh;
        margin-top: 10px;
        }
        p{
            margin-left: 20px; 
            font-family: sans-serif;
            letter-spacing: 1px;
            font-weight: bold;
            font-size: 10px;
        }
        .two h2 ,h3 ,h4 ,h5{
            margin-top: 2.5px;
            font-size: 5px;
            font-weight: 100;
        }
        .post1{
            width: 200px;
        }
        .post1 img{
            margin-left: 20px;
            width: 50px; 
            height: auto;
        }
        .sa2{
          
            background-image: url(photos/se2.jpg);
            width: 100%;
            height: 60vh;
            background-size: cover;
            background-position: center;
            background-attachment: flex;
        }
        .end{
            width: 100%;
    height: 60vh;
        background-color: black;
    }
    .end a{
      font-size: 10px;
        color: white;
       margin-left: 100px;
       margin-top: 25px;
       position: relative;
       top: 50px;
       display: flex;
    }
    .sa3{
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    padding-left: 10px;
        width: 90%;
        height: 200vh ;
        flex-wrap: wrap;
        margin-top: 25px;
      
    }
    .sa3 img{
        width: 125px; 
        height:135px;
        box-shadow: 2px 2px 10px rgb(255, 197, 90);
        border-radius: 5px;
        margin-left: 5px;
    }
    .sa3 img:hover{
    filter: brightness(0.6);
    transition: 0.5s ease-in-out;
    }
    .btn2{
        background-color:rgb(255, 197, 90); 
        width: 125px;
        height: 25px;
        border-radius: 7.5px;
     margin-top: 5px;
    font-weight: 500;
    color:black;
    font-size: 7.5px;
    transition: 0.5s ease-in-out;
    border: none;
    margin-left: 5px;
    }
    .d1{
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    padding-left: 10px;
        width: 125px;
        height: 160px;
        flex-wrap: wrap;
        margin-top: 25px;
    }
    .btn3{
        background-color: white;
       border:   solid 2px rgb(255, 197, 90); 
       width: 125px;
       height: 25px;
       border-radius: 15px;
    margin-top: 5px;
    font-weight: 500;
    color:black;
    font-size: 7.5px;
    transition: 0.5s ease-in-out;
    margin-left:5px ;
    }
    .d1 a:hover{
        transform: scale(1.1);
    }
    .d1 img:hover{
        transform: scale(1.1);
    }
}
